server:
  port: 0

spring:
  application:
    name: BORROW-SERVICE

  datasource:
    url: jdbc:mysql://localhost:3306/bibliotheque_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: tonemail@gmail.com          # ← change ou mets à vide pour test
    password: tonmotdepasseapp             # ← mot de passe d'application Gmail
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/