server:
  port: 8080

spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/auth/**,/api/users/**

        - id: book-service
          uri: lb://BOOK-SERVICE
          predicates:
            - Path=/api/books/**,/api/auteurs/**,/api/recommandations/**

        - id: borrow-service
          uri: lb://BORROW-SERVICE
          predicates:
            - Path=/api/emprunts/**,/api/notifications/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/