server:
  port: 0

spring:
  application:
    name: BOOK-SERVICE

  datasource:
    url: jdbc:mysql://localhost:3306/bibliotheque_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/